.auth-img {
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.logo {
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.header-bg {
    background-color: lightblue;
    border: none;
}

.header-profile {
    border: none;
}

.header-profile:hover, .header-profile:active {
    border: none;
}

.navbar {
    background-color: lightblue;
}

.success-message {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.header-profile.text-black::after {
    display: none;
}

.songs-container {
    margin-bottom: 15rem;
}

.audio-controls {
    width: 78.5%;
}

.play-button {
    border: none;
    font-size: 50px;
    margin-top: -1.5rem;
}

.stop-button {
    border: none;
    font-size: 40px;
    margin-top: -1.5rem;
}

.progress-bar {
    color: black;
}

.pointer {
    cursor: pointer;
}